<%= form_for :event do |f| %>

	<div>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.text_field :location %>
	</div>
	<div>
		<%= f.text_field :goal %>
	</div>
	<div>
		<%= f.text_field :title %>
	</div>
	<%= f.submit "Create Event" %>

<% end %>